<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Chuck Norris Jokes!</title>
		<meta
			name="description"
			content="Fetches 10 random Chuck Norris jokes from a very long list.
				You also can add your favorite to a personal list!"
		>
		<link rel="stylesheet" href="/stylesheets/reset.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lora|Nunito" rel="stylesheet">
		<script type="module" src="/scripts/index.js"></script>
	</head>
	<body>
		<div class="app-wrapper">
			<header>
				<h1>Welcome to Random Chuck Norris Jokes!</h1>
				<p>
					Use the buttons below to fetch 10 Chuck Norris jokes immediately or
					1 Chuck Norris joke every 5 seconds. Feel free to add any joke to your
					personal favourite list! Your favourites will be remembered, also on your
					next visit! Not happy with the list? Clear the list with the link next to
					the buttons.
				</p>
			</header>
			<div class="error" data-show="false"></div>
			<div class="main-content">
				<article class="random-jokes">
					<h2 class="random-jokes__heading">
						10 random Chuck Norris Jokes
					</h2>
					<div class="random-jokes__actions">
						<div class="random-jokes__fetch-button button">
							<span>Fetch 10 random jokes</span>
						</div>
						<div class="random-jokes__timer-button button" data-running="false">
							<span>Fetch 1 joke every 5 seconds</span>
						</div>
						<span class="random-jokes__clear-list-link">
							Clear list
						</span>
					</div>
					<div class="random-jokes__list">
						<!-- Random jokes will be added here -->
					</div>
				</article>
				<aside class="favourite-jokes">
					<h2 class="favourite-jokes__heading">
						Your favourites (max 10)
					</h2>
					<div class="favourites-jokes__list">
						<!-- All favourites will appear here -->
					</div>
				</aside>
			</div>
		</div>
	</body>
</html>
