/* GENERAL STYLES */
body {
	font-family: 'Lora', serif;
}

header {
	margin: 12px;
	padding: 12px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

/* CUSTOM ELEMENTS */
.app-wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.main-content {
	display: flex;
}

/* RANDOM JOKES ELEMENT */

.random-jokes {
	width: 60%;
	margin: 12px;
	padding: 12px;
	border: 1px grey solid;
	border-radius: 4px;
}

.random-jokes__actions {
	text-align: center;
	margin: 12px 0;
}

.random-jokes__fetch-button {
	display: inline-block;
	border: 1px solid #2f3a4c;
	border-radius: 4px;
	padding: 12px;
	background: #3f5b87;
	color: #fff;
}

.random-jokes__joke {
	margin: 6px 0;
	padding: 6px 0;
}

/* FAVOURITES BOX */
.favourite-jokes {
	width: 40%;
	margin: 12px;
	padding: 12px;
	border: 1px grey solid;
	border-radius: 4px;
}
